
html, body {
	background-color: #ECEFF1;
	background-image: url('/assets/images/bg.png');
	background-repeat: repeat;
}

.uk-dropdown-navbar {
	box-shadow: 0px 0px 20px rgba(#000, .3);
}

.uk-notify-message {
	box-shadow: 2px 2px 20px rgba(#000, .3), -2px -2px 20px rgba(#000, .3);
}

.header-sticked {
	box-shadow: 1px 1px 5px rgba(#000, .2);
	border-width: 0px;
}

header {
	border-bottom: 1px solid #E0E0E0;
	background-color: $header-color;
	z-index: 999;

	.uk-navbar {

		.uk-navbar-nav {
			> li {
				> a {
					&:hover {
						border-bottom: 3px solid $secondary-color;
					}

					&:active {
						color: #fff;
					}

					&.green-button {
						background-color: #3ADB76;
						border-width: 0px;
						font-size: 20px;
						font-weight: bold;

						&:hover {
							background-color: darken(#3ADB76, 5%);
						}
					}
				}

				&.uk-active{
					> a {
						background-color: darken($primary-color, 5%);
						border-bottom: 3px solid $secondary-color;
					}
				}
			}
		}
	}
}

